@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    background-color: dimgray;
    overflow: hidden;
}

.div {
    display: grid;
    /* align-content: center; */
    place-items: center;
}

.inner-div {
    display: grid;
    /* align-content: center; */
    place-items: center;
    height: 100vh;
    width: 58vw;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 130px;
}